<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WYJJsonModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>839026DB1E2C98F3000F8952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839026F41E2C98F4000F8952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839026FF1E2C98F4000F8952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
